:root {
  --accent-color: #6558f5;
  accent-color: var(--accent-color);
}


body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 24px;
}

input:focus,
select:not(:disabled):focus,
select:not(:disabled):active {
  border-color: var(--accent-color);
  outline: none;
}

input:disabled,
select:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.country-container {
  max-width: 1024px;
  margin: auto;
}

.country-title {
  font-size: 18px;
  margin-bottom: 24px;
}

.country-filters-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}