.table-pagination-container {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 20px 0;
}

.pagination-controls {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}